.button-container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s ease-in-out 0.3s;
}

.card:hover .button-container {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; 
}

.shop-now-btn {
  transition: all 0.3s ease;
}

.shop-now-btn:hover {
  background-color: #f0f0f0;
  transform: scale(1.05); 
}

@media (max-width: 768px) {
  .shop-now-btn {
    width: 100%; 
  }
  .carousel-responsive .carousel-item img {
    height: 50vh;
    object-fit: cover;
  }
}

@media (min-width: 769px) {
  .shop-now-btn {
    width: 100%; 
  }
  .carousel-responsive .carousel-item img {
    height: 70vh;
    object-fit: cover;
  }
}
.rotate-card {
  transition: transform 0.3s ease-out; 
}

.rotate-card.rotate {
  transform: scale(1.05); }

@media (max-width: 640px) {
  .rotate-row {
    flex-direction: column; 
  }

  .rotate-card {
    width: 100%;
    margin-bottom: 1rem; 
  }

  .rotate-card.rotate {
    transform: scale(1.1); 
  }

  .shop-category-image {
    width: 100%; 
    height: auto; 
  }
}

.perspective {
  perspective: 1000px;
}

@keyframes tripleFlipReset {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(180deg);
  }
  20% {
    transform: rotateY(360deg);
  }
  30% {
    transform: rotateY(540deg);
  }
  40% {
    transform: rotateY(0deg); 
  }
  100% {
    transform: rotateY(0deg); 
  }
}

.animate-triple-flip-reset {
  animation: tripleFlipReset 4s linear infinite;
  transform-style: preserve-3d;
}

/* watch and shoap */
.video-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  margin: 0 3px;
}

.video-element {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

@media (max-width: 640px) {
  .video-element {
    height: 250px;
  }
}

@media (min-width: 641px) and (max-width: 1023px) {
  .video-element {
    height: 300px;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
  color: white;
  padding: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.video-card:hover .overlay {
  opacity: 1;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0 6px 0;
}

.price {
  font-size: 0.9rem;
  margin: 0 0 10px 0;
}

.shop-button {
  background-color: white;
  color: black;
  border: none;
  padding: 6px 12px;
  font-size: 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.shop-button:hover {
  background-color: #ccc;
}
